.cart__product {
        
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px;
    grid-auto-rows: 120px;
    row-gap: 12px;
    &_item {
        position: relative;
        padding: 12px 16px 12px 25px;
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
    }
    &_descr {
        position: relative;
    }
    &_img {
        height: 90px;
        img {
            height: 100%;
        }
    }
    &_title {
        width: 170px;
        font-size: 14px;
        line-height: 18px;
        color: #59606D;
    }
    &_price {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #1F1F1F;
        margin-top: 6px;
    }
    &_rating {
        display: flex;
        position: absolute;
        bottom: 0;
    }
    &_star {
        width: 20px;
        height: 20px;
        margin: 0px;
        padding: 0px;
        svg {
            position: relative;
            
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_score {
        
        font-weight: bold;
        font-size: 13px;
        color: #F2C94C;
        line-height: 23px;
        margin-left: 3px;
        
    }
    &_delete {
        top: 50%;
        cursor: pointer;
        div {
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);

        }

        
    }
}

.cart__item_body{
    position: absolute;
	width: 14px;
    height: 12px;
   
	z-index: 41;
    
}
.cart__item_body::before{
    content: "☆";
    display: block;
    color: #F2C94C;
    z-index: 41;
    width: 14px;
    height: 14px;
    
}
.cart__item_active {
    
    width: 14px;
    height: 14px;
    
	z-index: 10
    

}
.cart__block {
    position: absolute;
	width: 14px;
    height: 12px;
	left: 0px;
    top: 0px;
	background: #fff;
	z-index: 31;
	
}
.cart__item_active::before {
    content: "★";
    position: absolute;
    
    top: 0px;
    color: #F2C94C;
	bottom: 0;
	z-index: 21;
    
}